@model IEnumerable<otelyonet.Models.OdaÖzellik>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Açıklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuşTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdaTipi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manzara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Açıklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuşTipi.DuşTipiAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdaTipi.OdaTipiAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manzara.ManzaraAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oda.OdaAdı)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdaÖzellikID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OdaÖzellikID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OdaÖzellikID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
