@model otelyonet.Models.Müşteri

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Müşteri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MüşteriTamAdı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MüşteriTamAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MüşteriSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MüşteriSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinsiyet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinsiyet.CinsiyetAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MüşteriTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MüşteriTipi.MüşteriTipiAdı)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MüşteriID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
