@model otelyonet.Models.Hizmet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Hizmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HizmetAdı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HizmetAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Açıklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Açıklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResimYolu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResimYolu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HizmetID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
