@model IEnumerable<otelyonet.Models.Hizmet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HizmetAdı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Açıklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResimYolu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HizmetAdı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Açıklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResimYolu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HizmetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HizmetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HizmetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
